body {
	margin: 0;
	background-image: url(../background.png);
}
#content{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20vh;
}
h1,p {
	color: white;
	text-align: center;
}
.frame {
	height: 50vh;
	border: 1px solid white;
	border-radius: 2.25em;
	margin: auto;
	display: block;
}
.skip {
	text-align: center;
}
.warning-content{
	margin-top: 9%;
}
.exam {
	font-family: "ChulaCharasNewReg";
	/*font-size: 30px;*/
}
